[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
plumbum = "*"
requests = "*"
rpyc = "*"
six = "*"
tqdm = "*"
urllib3 = "*"
waitress = "*"
Flask = "*"
Flask-Caching = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
openai = "*"
pipfile = "*"

[requires]
python_version = "3.12"
