.controls { display: flex; align-items: center; }
.controls .btn { margin-right: 10px; }

.step { margin-bottom: 2em; }

.results { padding: 10px; border: solid 1px #ccc; margin-right: 10px; margin-top: 1em; border-radius: 3px; }
.results .error { color: darkred; }
