<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LEGO Sequencer v0.1{% endblock %}</title>

        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block script %}
        <script></script>
        {% endblock %}
    </head>

    <body>
    {% block body %}{% endblock %}
    </body>
</html>
