<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LEGO Sequencer v0.1{% endblock %}</title>

        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block style %}{% endblock %}

        <style>
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: left;
        }
        </style>


        {% block script %}{% endblock %}
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="msg_panel">
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">LEGO Sequencer v0.1</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/debug">Debug</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>